doctype html
html
    head
        link(rel="stylesheet", tyep="text/css" href="/WinJS/css/ui-light.css")
        link(rel="stylesheet" type="text/css" href="/local1000site/winjsdefault.css")

        script(type="text/javascript" src="/WinJS/js/base.js")
        script(type="text/javascript" src="/WinJS/js/ui.js")
        script(type="text/javascript" src="/bower_components/crypto-js/crypto-js.js")
        title winjs-local1000
        script(type="text/javascript" src="/winjs1000/default.js")
        script(type="text/javascript").
            (function () {
                "use strict";

                var app = WinJS.Application;
                WinJS.strictProcessing();

                app.onactivated = function (args) {
                    args.setPromise(WinJS.UI.processAll().done(function() {
                        document.querySelector(".win-contentdialog").style.visibility="visible";
                        var contentDialog = document.querySelector(".win-contentdialog").winControl;

                        contentDialog.show();
                        contentDialog.addEventListener("beforehide", function() {
                            var password = document.getElementById("pwdEdit").value
                            document.key = CryptoJS.enc.Utf8.parse(password);
                        });
                    }));
                };

                app.oncheckpoint = function (args) { };

                app.start();

                var dataSource = !{JSON.stringify(pic_repertorys)};

                var dataList = new WinJS.Binding.List(dataSource);
                var publicMembers = {
                    itemList: dataList 
                };
                WinJS.Namespace.define("DataExample", publicMembers); 
            })();

    body

        div(data-win-control="WinJS.Binding.Template" style="display: none" id="listTemplate")
            div(data-win-bind="aindex: dir_name; rep_id: id; apicname: cover" class="rep_item" onmouseover="mOver(this)" onmousedown="mDown(this)")
                p(data-win-bind="textContent: dir_name; aindex: dir_name; rep_id: id; apicname: cover")
        div(id="left_layout")
            div(id="listView" 
                data-win-control="WinJS.UI.ListView" 
                data-win-options="{ itemDataSource : DataExample.itemList.dataSource, itemTemplate: select('#listTemplate'), layout: { type: WinJS.UI.ListLayout } }")
        div(id="img_container" class="imc_container" onmouseover="hideQuickImg(this)" style="height:100%")
            img(id="quick_img" class="littleimg" )
        div(id="container" style="overflow:auto; height:100%" onmouseover="hideQuickImg(this)")
            div(id="repertory"  ) 
        div(class="customDialog" data-win-control="WinJS.UI.ContentDialog" data-win-options="{ title: 'Main instruction', primaryCommandText: 'OK', secondaryCommandText: 'Cancle' }" style="visibility:hidden")
            input#pwdEdit(type="password")
