#listView {
    height: 100%;
    width: 500px;
}

#left_layout {
    position: absolute;
    height: 100%;
}

#container {
    margin-left: 500px;
}
.imc_container {
    position:absolute;
    left:500px;
}

.littleimg {
    height:60%;
    top:20%;
    position:absolute;
    transition: transform 0.6s;
    border-width: 5px;border-color: gray;border-style: solid;
    transform: translateX(-50%) scale(0)
}

p {
    margin: 0;
}

.customDialog .win-contentdialog-backgroundoverlay {
    background-color: rgb(113, 38, 110);
}

.customDialog .win-contentdialog-dialog {
    background-color: rgb(60, 8, 58);
    outline-color: rgb(166, 88, 163);
}

.customDialog .win-contentdialog-title {
    color: rgb(245, 245, 245);
    margin-bottom:18px;
}

.customDialog.win-contentdialog-content{
    color: rgb(245, 245, 245);
}

.win-contentdialog-primarycommand {
    background-color: rgb(88, 14, 85);
    color: rgb(245, 245, 245);
}

.customDialog .win-contentdialog-secondarycommand {
    color: rgb(245, 245, 245);
}

.win-contentdialog-content {
    color: white;
}
#pwdEdit {
    padding-left:0;
    padding-right:0;
    width:calc(100% - 4px);
}