
body {
  margin: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
div.left_list {
  width: 256px;
  height:100%;
  overflow-y: scroll;
  position: absolute;
  top: 0;
  left: 0;
}

.littleimg {
  /*width: 256px;*/
  display: none;
}
.imc_container {
  margin-left: 256px;
  overflow-y: auto;
}
