.Container {
    display: flex;
    height: calc(100% - 60px);
    flex: 1 1 auto;
}

.Content {
    flex: 1;
    height: 100%;
    overflow-y: scroll;
}

.SectionList {
    height: 100%;
    flex: 0 0 450px;
    order: -1;
    overflow-y: scroll;
}
.SectionListItem {
    cursor: pointer;
}

.Right {
    height: 100%;
    flex: 0 0 100px;
    background-color: gray;
}

.RContainer {
    display: flex;
    height: 100%;
    flex-direction: column;
}

.Header, .Footer {
    flex: 0 0 30px;
    background-color: darkgray;
}