.Container {
    display: flex;
    height: 100%;
}

.Content {
    flex: 1;
    height: 100%;
    overflow-y: scroll;
}

.SectionList {
    height: 100%;
    flex: 0 0 450px;
    order: -1;
    overflow-y: scroll;
}
.SectionListItem {
    cursor: pointer;
}